[Unit]
Description=Mesos Slave
After=docker.service
After=etcd.service
After=fleet.service
After=consul-server.service
After=zookeeper.service
After=mesos-master.service

[Service]
Restart=always
TimeoutStartSec=300
RestartSec=10

EnvironmentFile=/etc/environment
Environment="REPOSITORY=mesoscloud/mesos-slave:0.24.1-ubuntu-14.04"
ExecStartPre=-/usr/bin/docker kill x-%p
ExecStartPre=-/usr/bin/docker rm x-%p

ExecStartPre=/usr/bin/docker pull ${REPOSITORY}

# Test whether the zookeeper is up.
ExecStartPre=/bin/sh -c "curl -s $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper?tag=zk | jq -r -e .[0].ServiceAddress"

ExecStart=/bin/sh -c "exec /usr/bin/docker run \
    --name x-%p \
    --privileged \
    --net host \
    --publish :5051:5051 \
    -v /var/lib/docker/btrfs/subvolumes:/var/lib/docker/btrfs/subvolumes \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /sys:/sys \
    -v /cgroup:/cgroup \
    -v /dev/log:/dev/log \
    -e SERVICE_NAME=mesos-slave \
    -e SERVICE_TAGS=http \
    -e MESOS_WORK_DIR=/tmp/mesos \
    -e MESOS_LOG_DIR=/var/log/mesos \
    -e MESOS_IP=${COREOS_PRIVATE_IPV4} \
    -e MESOS_HOSTNAME=${COREOS_PRIVATE_IPV4} \
    -e MESOS_MASTER=zk://$(curl $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper?tag=zk | \
                             jq -r '.[0] | (.ServiceAddress + \":\" + (.ServicePort | tostring))')/mesos \
    -e MESOS_EXECUTOR_REGISTRATION_TIMEOUT=5mins \
    -e MESOS_ISOLATOR=cgroups/cpu,cgroups/mem \
    -e MESOS_CONTAINERIZERS=docker,mesos \
    -e MESOS_RESOURCES='ports(*):[1024-5050,5052-8299,8303-8399,8401-8499,8501-65535]' \
    ${REPOSITORY}"

ExecStop=/usr/bin/docker stop x-%p
SyslogIdentifier=%p

[X-Fleet]
Global=true
